@charset "utf-8";

body{
  background-color: mediumaquamarine;
}

.Riceball_Road li {
  display: inline;
  list-style-type: none;
}

.Riceball_Road li:before {
  content: " > ";
}

.Riceball_Road li:first-child:before {
  content:"";
}

#Riceball_Kind ul {
  overflow:hidden;
}

#Riceball_Kind li {
  float: left;
  width: 156px;
  border-right: white 1px solid;
  list-style-type: none;
}

#Riceball_Kind li:first-child {
  border-left:white 1px solid;
}

#Riceball_Kind a {
  display: block;
  padding:10px 0;
  text-align: center;
  text-decoration: none;
  background: darkgreen;
  color: white;
}

#Riceball_Kind a:after {
  clear: both;
}

#Riceball div.img {
  display: table-cell;
  background: url(../img/images.png) no-repeat;
  width: 55px;
  height: 46px;
}

#Riceball div.text {
  display: table-cell;
  vertical-align: middle;
  padding:10px 5px;
}

div.img#
#Riceball_Kind a:hover {
  background: lightgreen;
  color: black;
}

#Riceball_Kind a.selected {
  background: white;
  color: darkgreen;
  font-weight: bold;
}

div.img#syake{ background-position: 0 0px;}
div.img#tuna {background-position: 0 -46px;}
div.img#mentai {background-position: -46px 0;}
